@model UrlShortening.DTO.EditUrlDto

<div class="container mt-5">
    <h1>Edit URL</h1>
    <form asp-action="Edit" method="post">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Title" class="control-label">Title:</label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LongUrl" class="control-label">Long URL:</label>
            <input asp-for="LongUrl" class="form-control" />
            <span asp-validation-for="LongUrl" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>