@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Этот сайт предназначен для укорачивания длинных ссылок, где посредником является этот сайт. Также сайт предоставляет статистику по переходам по данной укороченной ссылке</p>